body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Misc-Container {
  border: 1px solid red;
  width: 25%;
  height: 670px;
  margin: 10px 10px 10px 10px;
  display: table-cell;
  vertical-align: top;
}

.Cards-Container {
  border: 1px solid black;
  width: 75%;
  height: 670px;
  display: table-cell;
}

.Character-Container {
  /*border: 1px solid green;*/
  height: 350px;
  width: 100%;
  transform:scale(0.9);
}

.Film-Card {
  border: 1px solid purple;
  height: 50%;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
  /*background: linear-gradient(to right,
                              transparent 0%,
                              transparent calc(50% - 0.81px),
                              black calc(50% - 0.8px),
                              black calc(50% + 0.8px),
                              transparent calc(50% + 0.81px),
                              transparent 100%);*/
}

.Fav-Char {
  /*border: 1px solid red;*/
  height: 200px;
  width: 100%;
  position: relative;
}

.Least-Fav-Char {
  /*border: 1px solid black;*/
  height: 200px;
  width: 100%;
  position: relative;
}

.Chart-Container {
  /*border: 1px solid orange;*/
  height: 240px;
  width: 100%;
  position: relative;
  transform:scale(.85)
}

.Chart {
  width: 100%;
  position: absolute;
}

.char-ul {
  position: absolute
}
