body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Misc-Container {
  width: 25%;
  height: 670px;
  margin: 10px 10px 10px 10px;
  display: table-cell;
  vertical-align: top;
}

.Cards-Container {
  width: 75%;
  height: 670px;
  display: table-cell;
}

.Character-Container {
  height: 350px;
  width: 100%;
  transform:scale(0.9);
}

.Film-Card {
  width: 100px;
  flex: 1
}

.Film-Card img {
  transform: scale(0.5)
}

.Fav-Char {
  height: 200px;
  width: 100%;
  position: relative;
}

.Least-Fav-Char {
  height: 200px;
  width: 100%;
  position: relative;
}

.Chart-Container {
  height: 240px;
  width: 100%;
  position: relative;
  transform:scale(.85)
}

.Chart {
  width: 100%;
  position: absolute;
}

.char-ul {
  position: absolute
}

div.poster {
  margin: 5px;
  float: left;
  width: 180px;
  height: px;
}

div.poster ul li {
  font-size: 80%;
}

div.card {
  float: left;
}

div.left-card {
  float: right;
  position: relative;
  margin-right: 20px;
  margin-left: -5px
}



div.right-card {
  float: right;
  margin-left: 20px;
  margin-right: -5px;
}

div.poster-info h3 {
  text-align: center;
}

div.poster img {
  width: 178px;
  height: 262px;
}
